<!DOCTYPE html>
<html>
  <head>
    <title>Cinevery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favi.png') %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <style>
      body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      .color-primary {
        color: rgb(7, 3, 130) !important;
      }
      .btn-primary {
        color: #fff !important;
        background-color: rgb(7, 3, 130) !important;
        border-color: rgb(7, 3, 130) !important;
        min-height: 40px !important;
      }
      .btn-primary:hover {
        color: #fff !important;
        background-color: rgb(7, 3, 130) !important;
        border-color: rgb(7, 3, 130) !important;
      }
      .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 2px rgb(7, 3, 130) !important;
      }
      .container {
        max-width: 1240px !important;
      }
      .text-gray {
        color: gray;
      }
      .alert-container {
        margin: 0 auto;
        max-width: 1100px;
      }
      .alert-notification {
        position: fixed;
        width:inherit;
        max-width:inherit;
        z-index: 1000;
        padding: 0.75rem 1.25rem;
        margin-top: 0.3rem;
        opacity: 0.9;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 3px;
      }
      .fs-14 {
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container alert-container">
      <% if notice %>
        <div class="alert alert-notification alert-success">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-notification alert-danger">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
      <% end %>
    </div>
    
    <%= yield %>

    <script type="text/javascript">
      <% if notice.present? || alert.present? %>
        $(function() {
          $(".alert-notification").fadeTo(3000, 0.9).slideUp(500, function(){
            $(".alert-notification").alert('close');
          })
        })
      <% end %>
    </script>
  </body>
</html>
